@model Lightning.Models.DBModels.Request
@using Microsoft.AspNetCore.Identity
@using Lightning.Models.DBModels;

@inject UserManager<LightningUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center">Детайли на заявка</h1>

<div>
    <hr />
    <dl class="row" style="margin-left: 35%; width: 100%;">
        <dt class="col-sm-2">
            Статус
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Начална дата на включване
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class="col-sm-2">
            Крайна дата на включване
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class="col-sm-2">
            Пакет
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Package)
        </dd>
        <dt class="col-sm-2">
            Адрес
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Допълнение към адреса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div style="display: flex; justify-content: space-evenly; width: 50%; margin-bottom: 2rem; margin-left: 23rem;">
    @{
        if (User.Identity.Name == "rosenbobchev3@abv.bg")
        {

            <a asp-area="" asp-controller="Requests" asp-action="ApproveStatus" asp-route-id="@Model.Id">Одобри</a>
            <a asp-area="" asp-controller="Requests" asp-action="RejectStatus" asp-route-id="@Model.Id">Откажи</a>
        }
     }
    <a asp-action="Index">Назад</a>
</div>
