@model IEnumerable<Lightning.Models.DBModels.Request>
@using Microsoft.AspNetCore.Identity
@using Lightning.Models.DBModels;

@inject UserManager<LightningUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Заявки</h1>

<p style="margin-left: 4.7rem">
    <a asp-action="Create">Създай нова</a>
</p>
<table class="table" style="margin-left: 4rem; width: 90%;">
    <thead>
        <tr>
            <th>
                Статус
            </th>
            <th>
                Начална дата за включване
            </th>
            <th>
                Крайна дата за включване
            </th>
            <th>
                Пакет
            </th>
            <th>
                Адрес
            </th>
            <th>
               Допълнение към адреса
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
            </td>
        </tr>
        }
    </tbody>
</table>
